[submodule "sublibs/public-transport-enabler"]
	path = sublibs/public-transport-enabler
	url = https://github.com/schildbach/public-transport-enabler.git
	ignore = dirty
[submodule "sublibs/ckChangeLog"]
	path = sublibs/ckChangeLog
	url = https://github.com/cketti/ckChangeLog.git
	ignore = dirty
[submodule "sublibs/OSMBonusPack"]
	path = sublibs/OSMBonusPack
	url = https://github.com/grote/OSMBonusPack.git
	ignore = dirty
