<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="de.grobox.transportr"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:installLocation="auto">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

	<uses-feature
		android:name="android.hardware.WIFI"
		android:required="false"/>
	<uses-feature
		android:name="android.hardware.LOCATION"
		android:required="false"/>
	<uses-feature
		android:name="android.hardware.location.NETWORK"
		android:required="false"/>
	<uses-feature
		android:name="android.hardware.location.GPS"
		android:required="false"/>
	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false"/>

	<application
		android:name="de.grobox.transportr.TransportrApplication"
		android:allowBackup="true"
		android:fullBackupContent="@xml/backup"
		android:hardwareAccelerated="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:networkSecurityConfig="@xml/network_security_config"
		android:resizeableActivity="true"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning"
		tools:targetApi="n">

		<activity
			android:name="de.grobox.transportr.map.MapActivity"
			android:exported="true"
			android:label="@string/app_name"
			android:launchMode="singleTop"
			android:windowSoftInputMode="stateHidden|adjustPan">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<data android:scheme="geo"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>

			<meta-data
				android:name="android.app.shortcuts"
				android:resource="@xml/shortcuts"/>

		</activity>

		<activity
			android:name="de.grobox.transportr.trips.search.DirectionsActivity"
			android:exported="true"
			android:windowSoftInputMode="stateHidden"/>

		<activity
			android:name="de.grobox.transportr.departures.DeparturesActivity"
			android:label="@string/drawer_departures"
			android:parentActivityName="de.grobox.transportr.map.MapActivity"
			tools:targetApi="jelly_bean"/>

		<activity
			android:name="de.grobox.transportr.trips.detail.TripDetailActivity"
			android:parentActivityName="de.grobox.transportr.trips.search.DirectionsActivity"
			tools:targetApi="jelly_bean"/>

		<activity
			android:name="de.grobox.transportr.networks.PickTransportNetworkActivity"
			android:label="@string/pick_network_activity"/>

		<activity
			android:name="de.grobox.transportr.settings.SettingsActivity"
			android:label="@string/drawer_settings"/>

		<activity
			android:name="de.grobox.transportr.about.AboutActivity"
			android:label="@string/drawer_about"/>

		<activity
			android:name=".about.ContributorsActivity"
			android:label="@string/drawer_contributors"/>

		<service
			android:name="com.mapzen.android.lost.internal.GeofencingIntentService"
			android:exported="false" />

		<!-- Version < 3.0. DeX Mode and Screen Mirroring support -->
		<meta-data android:name="com.samsung.android.keepalive.density" android:value="true"/>
		<!-- Version >= 3.0. DeX Dual Mode support -->
		<meta-data android:name="com.samsung.android.multidisplay.keep_process_alive" android:value="true"/>

	</application>

</manifest>
